body {
    font-family: 'Myriad Pro', sans-serif;
    font-size: 15px;
}

.log_block {
    margin-left: 40%;
    margin-right: 40%;
}

.log_window {
    display: flex;
    justify-content: center;
    background-color: #dddff9;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    flex-direction: column;
}

.log_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;
    height: 300px;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.in {
    height: 15px;
    background-color: #dddff9;
    border-bottom-color: red;
    border-left: none;
    border-right: none;
    border-top: none;
}

p {
    margin: 0;
}

.space {
    height: 50px;
}

.log_head {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.bt {
    border-radius: 10px;
    background-color: #7eadff;
    color: white;
    height: 40px;
    width: 85px;
    display: flex;
    justify-content: center;
}

.bt_block {
    width: 100%;
    display: flex;
    justify-content: center;
}

.space2 {
    height: 70px;
}